.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #EEEEEE;

  .gameInput {
    position: absolute;
    top: -100px;
  }

  * {
    box-sizing: border-box;
  }

  .content {
    .heading {
      font-family: 'Press Start 2P', cursive;
      color: #8244ff;
      text-align: center;
    }
  }
}